$font-size = 16px

$primary-color = #663399
$secondary-color = #e07be0
$terciary-color = #dcccff
$accent-color = #56a3a6

$grey = #403f4c
$grey-lighter-1 = lighten($grey, 20%)
$grey-lighter-2 = lighten($grey, 40%)
$grey-lighter-3 = lighten($grey, 50%)
$grey-lighter-4 = lighten($grey, 60%)
$grey-lighter-5 = lighten($grey, 80%)
